<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Web Kiosk</title>
        <link type="/text/javascript" href="js/script.js">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <meta http-equiv="refresh" content="8; URL=page2"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Latest boostrap compiled and minified JavaScript -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" charset="utf-8"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="js/json2html.js"></script>
    </head>


    <body >
    	<nav class="navbar navbar-reverse navbar-fixed-top">
        <div id="heading-menu">
        <h1 class="h1-heading">WEB KIOSK</h1>
        </div>
        </nav>
        <div id="container", class="container-fluid">
			{% block content %} {% endblock %}
			
    	</div>
    	</div>
    	</body>


</html>
