{% extends "base.html" %}
{%block content %}
    <div id="feeds1-container">
        <h2 class="h2-headings">USA News</h2>

        <ul>
        	
       {%for news in news_content%}
            <li class="feeds-content">{{news}}</li>
      	{%endfor%}
       
        </ul>
        
    </div>
    <div id="feeds2-container">
        <h2 class="h2-headings">Sports</h2>
        <ul >
        {%for sports in sports_content%}
            <li class="feeds-content">{{sports}}</li>
        {%endfor%}
        </ul>
    </div>

    <div id="feeds3-container">
        <h2 class="h2-headings">Weather</h2>
         <ul >
         	{%for i in range(5)%}
            <li class="feeds-content">{{weather_content[i]}}</li>
            <p>{{weather_desc_content[i]}}</p>
      		{%endfor%}
           
        </ul>
{% endblock %}

