{% extends "base.html" %}

{%block content %}
    <div id="news-container">
        <h2 class="h2-headings">World</h2>
		<ul>
        <!--{%for sports in sports_content%}
            <li class="feeds-content">{{sports}}</li>
        {%endfor%}-->
        </ul>
        
    </div>
    <div id="sports-container">
        <h2 class="h2-headings">Jobs</h2>
        <ul >
        <!--{%for sports in sports_content%}
            <li class="feeds-content">{{sports}}</li>
        {%endfor%}-->
        </ul>
        
    </div>

    <div id="weather-container">
        <h2 class="h2-headings">MTA</h2>
         <ul >
         	<!--
        {%for weather in weather_content%}
            <li class="feeds-content">{{weather}}</li>
        {%endfor%}
        -->
        </ul>
{% endblock %}

